@charset "UTF-8";

/*Layout da tabela*/
@import url("table.default.css");

/*fonte utilizada nos paragrafos*/
@font-face
{
    font-family: 'robot';
    src: url("RobotoSlab-VariableFont_wght.ttf");
}

/* fonte do google logo*/
@font-face
{
    font-family: 'huugle';
    src : url("Product Sans Regular.ttf");
}


/*******************************************************************************
*                             Configuracoes                                    *
*******************************************************************************/

/*Cor de fundo da pagina*/
body
{
    background-color: rgba(206, 206, 199);
}


a:visited
{
    color: blue;
}

a:hover
{
    border-radius:5px;
}

/*Estilo dos paragrafos*/
p
{
    text-indent: 30px;
    text-align: justify;
    line-height: 22px;
    font-family: robot;
    font-size: 18px;
    padding-bottom: 10px;

}

/*estilo do paragrafo do obituario do cc*/
p#inmemorian
{
    text-indent: 190px;
    font-size: 13px;
    padding: 0px;
    margin:0px;
}

/*Estilo de paragrafo que simula terminal Unix/Win*/
p.terminal
{
    text-indent: 0px;
    background-color: black;
    color: white;
    line-height: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
}

/*Fonte de subtitulo*/
h2
{
    font-family: 'robot';
}

/*Secao com instrucoes de instalacao para o Forum CC*/
div#cc
{
    border-style: groove;
    margin: 10px;
    padding: 10px;
}

/*Secao com instrucoes para obter e instalar arquivos de indices*/
div#database
{
    border-style: groove;
    margin: 10px;
    padding: 10px;
}

/*Secao com instrucoes para compilar os fontes*/
div#compile
{
    border-style: groove;
    margin: 10px;
    padding: 10px;
}

/*Destaque para nomes de diretorios*/
span.dir
{
    font-weight: 600;

}

/*fonte do google logo*/
span.huugle
{
    font-family: 'huugle';
}

/*rodape da pagina*/
footer
{
    text-align: center;
}

/*********************************************************************************
 *                   Cores das letras do Huugle logo                             *
 ********************************************************************************/
span#h1
{
    color: rgb(74, 132, 218);
}

span#u2
{
    color: rgb(202, 22, 9);
}

span#u3
{
    color: rgb(248, 193, 43);
}

span#g4
{
    color:  rgb(74, 132, 218);
}

span#l5
{
    color: rgb(2, 167, 49);
}

span#e6
{
    color: rgb(202, 22, 9);
}

/*******************************************************************************
*                 Configuracoes adicionais de table.default                    *
*******************************************************************************/
table.default td.defaultInfoCol
{
    text-align: center;
}

table.default td.defaultInfoCol a img:hover
{
   background : url("buttonOver.png");
}



