@charset "UTF-8";

/*******************************************************************************
*                      Configuracao de table class="default"                   *
*******************************************************************************/
/*bordas colapsadas nas celulas*/
table.default
{
    border-collapse: collapse;
}

/*titulo da tabela alinhado a esquerda*/
table.default caption
{
    text-align: left;
}

/*cabecalho da tabela*/
table.default thead
{
    background-color: white;
    text-align: center;
    border-style: double;
}

/*configuracao da primeira coluna da tabela*/
table.default td.defaultDescriptionCol
{
    padding: 5px;
    border: 1px;
    border-style: solid;
    font-style: oblique;
    background-color: #f0c39f88;
    text-align: left;
}

/*tabela zebrada*/
table.default tr:nth-child(even)
{
    background-color: #e76f0d3a;
}

/*estilo de uma celula da tabela*/
table.default td
{
    padding: 5px;
    border: 1px;
    border-style: solid;
}

/*cor dos links nas celulas*/
table.default td a
{
    color: rgb(80, 80, 80);
}

/*fundo branco nos links quando o mouse passa por cima*/
table.default td a:hover
{
    background-color:white;
}

/*rodape sem borda e alinhado a direita*/
table.default tfoot td
{
    border-style: none;
    text-align: right;
    font-size: 15px;
}